
.timeline{
    width: 100%;
    background-color: #fefefe;
    -webkit-box-align:center;
    -ms-flex-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.timeline .timeline-content{
    min-width: 1200px;
    padding-bottom:170px;
    padding-top:60px;
    position:relative
}

.timeline .timeline-year{
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    color:black;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    margin-bottom:28px
}

.timeline .timeline-year .timeline-year-divider{
    background-color:rgba(63, 76, 100, 60);
    height:2px;
    width:400px
}

.timeline .timeline-item {
    width:100%;
    margin-bottom:40px;
    display: flex;
    flex-direction: row;
    animation-name: appear;
    animation-duration: 2s;
}

.align-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.timeline-year-year {
    font-size: 48px;
}


/*
Kasutatud css kaardi ülesehituse jaoks
https://codepen.io/markelrayes/pen/ZEGVBZm
*/

h5
{
    margin:0px;
    font-size:32px;
    font-weight:700;
}

p
{
    font-size:24px;
}

.property-card
{
    height:25em;
    width:60em;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
    box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-image
{
    height:6em;
    width:60em;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    overflow: hidden;
}

.property-image img {
    position: Absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 60em;
    height: auto;
}

.property-description
{
    background-color: #FAFAFC;
    height:18em;
    width:auto;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align:center;
    padding: 1.2em;
}

.property-card:hover .property-description
{
    height:0em;
    padding:0px 1em;
}
.property-card:hover .property-image
{
    height:25em;
}

.property-card:hover
{
    background-color:white;
}
