
@keyframes appear {
    from { opacity: 0; }
    to { opacity: 1; }
}

@font-face {
    font-family: "Cyberpunk-Regular";
    src: url("fonts/Cyberpunk-Regular.ttf")
    }

h1 {
    font-family: Cyberpunk-Regular, Arial, Helvetica, sans-serif;
    animation-name: appear;
    animation-duration: 2s;
}

body {
    padding: 0
}
